.server {
	$this: &;
	display: flex;
	align-items: stretch;

	&:last-child {
		& > .connector {
			--lan-line-end-decor-display: block;
		}
	}

	&__body {
		margin-top: var(--indent-lg);
	}

	.node-label {
		--bg-color: var(--color-lan-line);
		--bg-next-color: var(--color-vm-line);
		--bg-light-color: var(--color-lan-line-light);
		--txt-color: var(--color-lan-txt);
	}
}