.infra-tree {
	margin-top: var(--size-filter-bar-height);

	&__search-stat {
		width: 100%;
		margin: 0 auto;
		max-width: calc((var(--size-connector-width) + var(--indent-lg)) * 7);
		background-color: var(--color-info-bg);
		border: 1px solid var(--color-info-brd);
		border-radius: 0 0 var(--size-radius) var(--size-radius);
		border-top: none;
		padding: var(--indent-lg);
		text-align: center;
	}

	&__data-centers {
		width: 100%;
		margin: 0 auto;
		max-width: calc((var(--size-connector-width) + var(--indent-lg)) * 6);
		margin-bottom: var(--indent-xlg);
	}
}