.infra-tree {
	margin-top: var(--size-filter-bar-height);

	&__filtered {
		.node-label {
			opacity: 0.6;
		}
	}

	&__search-stat {
		width: 100%;
		margin: 0 auto;
		max-width: calc((var(--size-connector-width) + var(--indent-lg)) * 7);
		background-color: var(--color-info-bg);
		border: 1px solid var(--color-info-brd);
		border-radius: 0 0 var(--size-radius) var(--size-radius);
		border-top: none;
		padding: var(--indent-lg);
		text-align: center;
		position: sticky;
		top: 40px;
		z-index: 9;

		span {
			display: inline-block;
			width: 40px;
			text-align: left;
		}

		button {
			appearance: none;
			border: none;
			outline: none;
			border-radius: var(--size-radius);
			background-color: var(--color-service-line);
			color: var(--color-service-txt);
			padding: var(--indent-md) var(--indent-lg);
			margin: 0 var(--indent-sm);
			cursor: pointer;

			&:hover {
				background-color: var(--color-wan-line-light);
			}
		}
	}

	&__data-centers {
		width: 100%;
		margin: 0 auto;
		max-width: calc((var(--size-connector-width) + var(--indent-lg)) * 6);
		margin-bottom: var(--indent-xlg);
	}
}